.all {
    text-decoration: none;
    color: black;
    display: block;
    margin: 10px;
    width: 31%;
    min-width: 100px;
    float: left;
}
.card-img{
    max-height: 380px;
}

.all:hover {
    color: black;
}