.shop-list {
    width: 700px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 7px;
}
.cart-container {
    text-align: center;
}
.subtitle {
    margin-top: 25px;
    margin-bottom: 35px;
}
.total-subtitle {
    margin-top: 50px;
    margin-bottom: 20px;
}
.empty-subtitle{
    margin-top: 100px;
    margin-bottom: 200px;
}
.count {
    margin: 17px;
}

.close {
    margin-top: 15px;
}

.size {
    margin-left: 2px;
}