.shop-list {
    width: 700px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 7px;
}
.cart-container {
    text-align: center;
}
.subtitle {
    margin-top: 25px;
}
.total-subtitle {
    margin-bottom: 40px;
}
.count {
    margin: 17px;
}

.close {
    margin-top: 15px;
}
