#templatemo_nav_top {
    min-height: 40px;
}
#templatemo_nav_top * {
    font-size: 0.9em !important;
}
#templatemo_main_nav a {
    color: #212934;
}
#templatemo_main_nav a:hover {
    color: #69bb7e;
}
#templatemo_main_nav .navbar .nav-icon {
    margin-right: 20px;
}
